
@import './../../../../styles/colors';

.big-speaker  {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-speaker  {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}


.big-icon-speak {
  display: block;
  width: 2.5rem;
}

.speaks  {
   animation-name: speaks;
  animation-duration: 0.5s;
}

@keyframes speaks {
  0% {background:  lightblue;}
  50% { background: $primary-color2;}
  100% { background: lightblue;}
}
