.section-games {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.bg-items {
  background-image: url("../../assets/img/backgrounds/bg-items.png");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;

  position: absolute;

  height: 100%;
  width: 100%;
}

.pattern-stars {
  position: absolute;
  bottom: 10%;
  right: 3%;
}

.nav {
  margin-top: 8%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.nav__item {
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;

  border-radius: 10px;

  font-size: 18px;
  border: 2px solid #ffffff;

  width: 300px;
  margin: 0;

  padding: 10px 15px;

  text-align: justify;
  & a {
    position: absolute;
    bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background: transparent;

    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #ff6666;
    }
  }
}

.game__title {
  font-size: 40px;
}

.game__description {
  line-height: 30px;
  margin-bottom: 26px;
}
