.bg-path {
  background-image: url("../../../assets/img/background/yellow-flag.png");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.centered {
  font-size: 3rem;
}