@import "../../../styles/styles.scss";

.team {
  height: 70vh;
  width: 100%;
  background-image: url("../../../assets/img/background/bg-team-2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title {
  text-align: center;
  color: $primary-color2;
}

.flex {
  display: flex;
  justify-content: space-between;
}
