@import "../../../styles/styles.scss";

.team {
  width: 100%;
  background-image: url("../../../assets/img/background/bg-team-2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 3rem;
  
}

.title {
  text-align: center;
  color: $primary-color2;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 3rem
}
