@import "../../../../../../styles/colors";

.wrapper {
  // border: 1px solid red;
  display: flex;
  justify-items: left;
  margin: 0.2rem 0;
}
.round-block {
  width: 1.5rem;
  height: 1.5rem;
  // background: $primary-color6;
  background: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-speak {
  display: block;
  width: 1rem;
  height: 1rem;
}

.english-word {
  margin: 0 0.5rem;
}

.russian-word {
  margin: 0 0.5rem;
  color: gray;
}
