@import "../../../../../../styles/colors";

.modal {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0%);
  width: 25vw;
  // height: 70vh;
  background: $primary-color1;
  transition: all 0.8s;
  border-radius: 1rem;
  padding: 1rem;
  
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

.header {
  font-size: 1.3rem;
  font-weight: 600;
  color: $primary-color2;
}

.sub-header {
  font-size: 1.1rem;
  font-weight: 600;
  color: gray;
}

.flex-block-around {
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  color: $primary-color1;
  cursor: pointer;
}
