.dictionary {
  display: flex;
  min-height: 800px;
}

.word-collection {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.word-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 8px;
  border: 1px solid rgb(73, 73, 73);
}

.img-container {
  height: 250px;
  width: 100%;
  overflow: hidden;
  & img {
    display: block;
    height: 100%;
    object-fit: cover;
  }

}
