@import "../../../styles/colors";

.promo {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/background/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0 3rem;
  flex-wrap: wrap;
}

.subtitle {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: $primary-color1;
}

.title {
  text-align: center;
  color: $primary-color1;
  margin: 0;
}
.smalltitle {
  text-align: center;
  text-transform: uppercase;
}
