$primary-color1: #ffffff;
$primary-color2: #2b3c6b;
$primary-color3: #ff6666;
$primary-color4: #70747f;
$primary-color5: #b250fe;
$primary-color6: #1ab9ff;
$primary-color7: #fcf9f4;
$primary-color8: #e6a72a;
$primary-color9: #fab319;