@font-face {
  font-family: 'Salsa';
  src: url(../assets/fonts/Salsa-Regular.ttf);
}

@font-face {
  font-family: 'pt-sans-bold';
  src: url(../assets/fonts/pt-sans-bold.ttf);
}

@font-face {
  font-family: 'appetite-italic';
  src: url(../assets/fonts/appetite-italic.ttf);
}

@font-face {
  font-family: 'Shantell';
  font-weight: 300;
  src: url(../assets/fonts/Shantell_Sans-Normal-Light.ttf);
}

@font-face {
  font-family: 'Shantell';
  font-weight: 400;
  src: url(../assets/fonts/Shantell_Sans-Normal-Regular.ttf);
}

@font-face {
  font-family: 'Shantell';
  font-weight: 600;
  src: url(../assets/fonts/Shantell_Sans-Normal-Bold.ttf);
}

@font-face {
  font-family: 'MinSans';
  font-weight: 400;
  src: url(../assets/fonts/MinSans-Regular.ttf);
}

@font-face {
  font-family: 'MinSans';
  font-weight: 600;
  src: url(../assets/fonts/MinSans-Bold.ttf);
}
