.item {
  height: 120px;
  width: 180px;
  padding: 8px;
  margin: 8px;

  border: 1px solid rgba(43, 60, 107,0.1);
  text-align: center;
  margin-bottom: 30px;

  background-color: #FFFFFF;

  &_selected {
    background-color: #FAB319;
  }

  &_difficult {
    background-color: #ff676759;
  }

  &:hover {
    cursor: pointer;
    background-color: #fab31993;
  }
}

.item__word {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.item__translation {
  margin: 0;
  padding: 0;
  font-size: 18px;
}