@import './../../styles/colors';

.nav {
  width: 60%;

  display: flex;
  justify-content: space-between;

  & a {
    color: $primary-color1;
    text-transform: uppercase;
    font-size: 1.125rem;
    text-decoration: none;
  }
  
  & span {
    color: $primary-color1;
  }
}