@import "./../../styles/colors";

.footer {
  background-color: #2c4073;
  height: 85px;
  color: $primary-color1;
}

.footer-inner {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rss-logo {
  height: 40px;
}

.year {
  color: $primary-color1;
}
