.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 0;
}

.section-textbook {
  min-height: 600px;
  position: relative;
  background-size: cover;
  background-image: url(../../../assets/img/backgrounds/bg-textbook.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-tab {
 
  padding: 22px;
  border-radius: 7px;
  display: flex;
  list-style: none;

  & .textbook, & .dictionary {
    padding: 0;
    margin: 2px 8px;
    padding: 15px;

    color: #ffffff;
    width: 208px;
    height: 60px;
    border-radius: 7px;
    font-size: 18px;
    border: 2px solid #ffffff;
    & a {
      color: #ffffff;
      font-size: 23px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .textbook {
    background-color: #ff6666;
  }

  & .dictionary {
    background-color: rgb(250, 179, 25);
  }
}
